<div id="contacto" class="contact-clean" style="background-color: rgba(255,255,255,0);">
    <form id="form" class="border rounded shadow" data-aos="slide-up" method="POST">
        <h2 class="text-center" style="color: #132743;">Contactanos</h2>
        <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Nombre"></div>
        <div class="form-group"><input class="form-control" type="text" name="phone" placeholder="Teléfono"></div>
        <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Correo"></div>
        <div class="form-group"><textarea class="form-control" name="message" placeholder="Mensaje" rows="14"></textarea></div>
        <div class="form-group"><button id="send" type="button" class="btn btn-primary" data-bs-hover-animate="pulse">Enviar&nbsp;<i class="fa fa-send"></i>&nbsp;</button></div>
    </form>
</div>