<div class="container featured-product section">
    <h2 class="title-section">Productos Destacados</h2>
    <div class="row row-featured-product">

        <div class="col-sm-4">
            <div class="card">


                <div class="card-body">
                    <div class="img-container"> <img src="../../../assets/img/peter.png" alt="" class="product-img"></div>
                    <p class="card-title product-title">Peter</p>
                    <p class="card-text product-description">Personajes personalizados como peter solo en nuestra tienda</p>
                    <hr class="pleca-product">
                    <a href="#" class="btn btn-add-car">Añadir  <i class="fas fa-cart-plus"></i></a><a class="price" href="#">$450 MXN</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">


                <div class="card-body">
                    <div class="img-container"> <img src="../../../assets/img/peter.png" alt="" class="product-img"></div>
                    <p class="card-title product-title">Peter</p>
                    <p class="card-text product-description">Personajes personalizados como peter solo en nuestra tienda</p>
                    <hr class="pleca-product">
                    <a href="#" class="btn btn-add-car">Añadir  <i class="fas fa-cart-plus"></i></a><a class="price" href="#">$450 MXN</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">


                <div class="card-body">
                    <div class="img-container"> <img src="../../../assets/img/peter.png" alt="" class="product-img"></div>
                    <p class="card-title product-title">Peter</p>
                    <p class="card-text product-description">Personajes personalizados como peter solo en nuestra tienda</p>
                    <hr class="pleca-product">
                    <a href="#" class="btn btn-add-car">Añadir  <i class="fas fa-cart-plus"></i></a><a class="price" href="#">$450 MXN</a>
                </div>
            </div>
        </div>
    </div>
</div>