<div class="container-banner">

    <div class="container">
        <div class="row row-banner">
            <div class="col">

                <h1 class="title">Encuentra tu favorito</h1>
                <h2 class="subtitle">Colecciona los nuevos <br>funkos o crea el tuyo</h2>

                <a href="#" class="btn btn-primary cta-buy">Conseguir  <i class="fas fa-arrow-right"></i></a>

            </div>
            <div class="col">
                <img src="../../../assets/img/jon-wick.jpg" class="img-main" alt="...">
            </div>
        </div>
        <div class="bg"></div>
        <div class="bg bg2"></div>
        <div class="bg bg3"></div>
    </div>

</div>

<button mat-button color="primary" (click)="httpRequest()">Http Request</button>
<button mat-button color="primary" (click)="httpRequestToken()">Http Request Token</button>