<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/img/logo-pop.png" alt="" width="80" height="auto">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
                <a class="nav-link" routerLink="quienes-somos" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">¿Quienes somos?</a>
                <a class="nav-link" routerLink="contactanos" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contactanos</a>
            </div>
            <button class="btn btn-primary" type="submit"><i class="fas fa-shopping-cart"></i> Comprar</button>
        </div>
    </div>
</nav>