<div class="container  section">
    <h2 class="title-section">¡Hechiza a tus amigos con los Funkos!<br> Edición Harry Potter</h2>
    <div class="container-background">
        <div class="container">
            <div class="row">
                <div class="col-6 img-col">
                    <img src="../../../assets/img/dombledore.png" class="img-individual-product" alt="...">
                </div>
                <div class="col-6 ">
                    <h3 class="section-subtitle">
                        Dombledore
                    </h3>
                    <p class="text">Ya contamos con el mejor mago, <br> Dombledore en stock, no dejes <br> que la maldad prevalezca. </p>
                    <a href="#" class="btn btn-add-car">Añadir  <i class="fas fa-cart-plus"></i></a>

                </div>

            </div>
        </div>
    </div>
</div>