<div class="footer-container">


    <div class="container row-footer-top">
        <div class="row row-list">
            <div class="col">
                <h4 class="subtitle-footer">Acerca de Nosotros</h4>
                <ul class="list-footer">
                    <li class="li-footer">
                        <a href="" class="link-footer">Misión</a>
                    </li>
                    <li class="li-footer">
                        <a href="" class="link-footer">Visión</a>
                    </li>
                    <li class="li-footer">
                        <a href="" class="link-footer">Valores</a>
                    </li>

                </ul>
            </div>
            <div class="col">
                <h4 class="subtitle-footer">Productos</h4>
                <ul class="list-footer">
                    <li class="li-footer">
                        <a href="" class="link-footer">Anime</a>
                    </li>
                    <li class="li-footer">
                        <a href="" class="link-footer">Cartoon</a>
                    </li>
                    <li class="li-footer">
                        <a href="" class="link-footer">Películas</a>
                    </li>
                    <li class="li-footer">
                        <a href="" class="link-footer">Personalizados</a>
                    </li>
                </ul>
            </div>
            <div class="col ">
                <h4 class="subtitle-footer">Métodos de Pago</h4>
                <ul class="list-footer">
                    <li class="li-footer">
                        <a href="" class="link-footer">Paypal</a>
                    </li>
                    <li class="li-footer">
                        <a href="" class="link-footer">Tarjeta de crédito o debito</a>
                    </li>
                    <li class="li-footer">
                        <a href="" class="link-footer">Funko Points</a>
                    </li>
                    <li class="li-footer">
                        <a href="" class="link-footer">Tarjeta de regalo</a>
                    </li>
                </ul>
            </div>
            <div class="col "></div>
        </div>
        <div class="row row-footer-button">
            <p class="copy-right"> Copyright ©{{ anio }} Daniel. | Todos los derechos reservados.</p>

        </div>

    </div>
</div>