<div class="container  section">
    <h1 class="title">¿Quienes somos?</h1>
    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquam ullamcorper mauris a finibus. Aliquam cursus auctor iaculis. Nullam tempor ante id volutpat dapibus. Vestibulum a suscipit sapien. Suspendisse ut nunc et turpis consectetur euismod
        vitae pulvinar arcu. Proin dui nisl, mollis facilisis quam eu, tincidunt mattis mauris. Praesent rutrum a metus ut vulputate. Aliquam mattis suscipit lorem, ac posuere tellus maximus sed.</p>
    <h2 class="subtitle">Misión</h2>
    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquam ullamcorper mauris a finibus. Aliquam cursus auctor iaculis. Nullam tempor ante id volutpat dapibus. </p>
    <h2 class="subtitle">Visión</h2>
    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquam ullamcorper mauris a finibus. Aliquam cursus auctor iaculis. Nullam tempor ante id volutpat dapibus. </p>
    <h2 class="subtitle">Valores</h2>
    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquam ullamcorper mauris a finibus. Aliquam cursus auctor iaculis. Nullam tempor ante id volutpat dapibus. </p>

</div>